@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Lumos"; /* Your font name */
  src: url("/fonts/Lumos.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Harryp"; /* Your font name */
  src: url("/fonts/HarryP-MVZ6w.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Optional: Add a glow effect for a magical look */
.text-magic {
  text-shadow: 2px 2px 8px rgba(255, 223, 0, 0.8);
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --background-primary: 112 74% 90%; /* #D8F8D3 */
    --background-secondary: 113 100% 85%; /* #BBFFB3 */
    --foreground: 0 0% 4%; /* 0A0A0A */
    --foreground-primary: 149 100% 20%; /* #006833 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-overlay-background: 152 100% 20%; /* #006838 */
    --eventcard-background: 130 13% 95%; /*#D4F3D9 */
    --card-foreground: 0 0% 4%; /* #0A0A0A */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 0 0% 4%; /* #0A0A0A */
    --primary: 0 0% 9%; /* #171717 */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 149 100% 20%; /* #006833 */
    --accent-background: 113 100% 80%; /* #A5FF99 */
    --accent-foreground: 112 74% 90%; /* #D8F8D3 */
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 4%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .line-expand-x {
    @apply hover:text-light-green  transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-light-green before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-light-green after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%];
  }
}

/* Loading state styles */
body.loading::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #46e56b, #8bed3a);
  animation: loading 1s infinite linear;
  z-index: 9999;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Loading spinner */
.loading-spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
